name: Fireboard 2 MQTT
version: 3.0.0-beta.0
stage: experimental
slug: fireboard2mqtt
url: https://github.com/gordlea/fireboard2mqtt
image: gordlea/homeassistant-addon-{arch}-fireboard2mqtt
description: >-
  A bridge that connects the fireboard cloud api to mqtt (compatible with home assistant mqtt discovery).
arch:
- armhf
- armv7
- aarch64
- amd64
- i386
services:
- "mqtt:need"
init: false
host_network: false
startup: application
boot: auto
options:
  fireboardAccount_email: null
  fireboardAccount_password: null
  fireboard_enable_drive: false
  logLevel: "fireboard2mqtt=debug"

schema:
  fireboardAccount_email: str
  fireboardAccount_password: password
  fireboard_enable_drive: bool
  mqtt_discovery_prefix: "str?"
  mqtt_base_topic: "str?"
  mqtt_clientid: "str?"
  logLevel: "str"


backup_exclude:
- "**/*"
