# example systemd service
[Unit]
Description=fireboard2mqtt
After=network.target

[Service]
ExecStart=/usr/bin/yarn node ./cli.js
WorkingDirectory=/opt/fireboard2mqtt
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target

